img {
  width: 100%;
}


.fa.fa-edit {
  color: #18a2b9;
}


.fa.fa-minus-circle {
  color: red;
}

.landing {

}

.landing-inner {

}


.fas {


  padding:0;
}

.nav-link {

}

.navbarwelcome{
  margin-left: 250px;
}

.uploadImage{
  width: 230px;
  height: 200px;
}

.cardimage{
  width: 160px;
  height: 100px;
}
.paddingCard{
  padding: 10px;
}

